
<div class ="mainpage_main">
  <%= render "shared/header" %>
  
  <div class ="main_content">
    <div class ="main_title">
      Let's <br><span class ="main_span">find</span> <br>the <br>best <br>opponent
    </div>
    <div class ="map_all">
      <div class ="map_description">
        ↓↓会場の検索はこちらから(「拡大地図を表示」をクリックで外部リンクが開きます)↓↓
      </div>
      <div class ="google_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2827.821291538767!2d139.71315700798922!3d35.678595685161895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d89aadfca4d%3A0xd846ee769ca6898e!2z5Zu956uL56u25oqA5aC0!5e0!3m2!1sja!2sjp!4v1621479057402!5m2!1sja!2sjp" width="650" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>

</div>
